<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="time" value ="600"/>
		<add key="solver" value ="1"/>
		<add key="strategy" value ="2"/>
		<add key="objOption" value ="1,1,0,0,0,0,0,0"/>
		<add key="objWeight" value ="50,25,1,1,1,1,1,1"/>
	</appSettings>
</configuration>